<p id="notice"><%= notice %></p>

<h1>Drawings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drawings.each do |drawing| %>
     <%=image_tag("image_2.png", alt: "image 2")%>
     <%=image_tag("image_1.png", alt: "image 1")%>
       <%=image_tag("image_4.png", alt: "image 4")%>
       <%=image_tag("image_5.png", alt: "image 5")%>
      <tr>
        <td><%= drawing.name %></td>
        <td><%= link_to 'Show', drawing %></td>
        <td><%= link_to 'Edit', edit_drawing_path(drawing) %></td>
              
        <td><%= link_to 'Destroy', drawing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drawing', new_drawing_path %>
