<!DOCTYPE html>
<html>
    <head>
<h1>Welcome to Learn Hand Drawn Animation.com!</h1>

    </head>
    
    <body>
        <i><h2>Learn how to draw traditional style animation!<h2><i>
          <body style="background-color:Orange;">  
            <h3>
                 <%= link_to "Sign In",controller:"creates", action: "index" %>
                           <h3>
                               
                               <%= link_to "Sign Up",controller:"accounts", action: "index" %>
                           <h3>
                               
                               <h3>
                 <%= link_to "Gallery",controller:"drawings", action: "index" %>
                            <h3>
          
                     <h3>
           <%= link_to "ABout this Website",controller:"information", action: "index" %>
                   <h3>
           <%= link_to "Tutotrial",controller:"tutorial", action: "index" %>
                           <h3>
                

            
            </body>
            </html>
            